*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  background-color: #000;
}

@mixin prefix($property, $value, $prefixes){
  @each $prefix in $prefixes{
    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}
h1, h2, h3, a, p, span {
  font-family: $font-family, Arial, sans-serif;
  font-weight: $font-weight;
  color: $default-text-color;
  @include prefix(user-select,none ,webkit khtml moz ms);
}
a{
  text-decoration: none;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
@function setTextColor($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}


@mixin media-sm {
  @media screen and (max-width:450px){
    @content;
  }
}
@mixin media-md {
  @media screen and (min-width: 768px) and (max-width:850px){
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 850px) and (max-width:1600px){
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px){
    @content;
  }
}
