$primary-color: #4A148C;
$secondary-color: #1DE9B6;
$accent-color: #FF5722;


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}
@function setTextColor($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}
@mixin media-sm {
  @media screen and (max-width:450px){
    @content;
  }
}
@mixin media-md {
  @media screen and (min-width: 768px) and (max-width:850px){
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 850px) and (max-width:1600px){
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px){
    @content;
  }
}
