@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity/Gravity-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity/Gravity-Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Gravity';
    src: url('../fonts/gravity/Gravity-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
