@use 'colors';
@use 'fonts';
@use 'surface';

@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
  -moz-box-shadow: $property;
  box-shadow: $property;
}
@mixin border {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: $borderradius;
}
@mixin padding($top,$right,$bottom,$left){
  padding-top: $top;
  padding-right: $right;
  padding-bottom: $bottom;
  padding-left: $left;
}


.navbar {
  display: flex;
  justify-content: center;
  .navbar-surface {
    font-family: open_sanslight;
    display: flex;
    gap: 5px;
    justify-content: center;
    background-color: $surface;
    padding-top: 10px;
    padding-bottom: 10px;
    @include box-shadow(0px 0px 3px 1px rgba(0, 0, 0, 0.10));
    @include surface(1);
    width: 100%;
    .navbar-item {
      background-color: $primary;
      @include border;
      @include padding(4px,8px,5px,8px);
      @include box-shadow(0px 0px 1px 1px rgba(0, 0, 0, 0.15));
      .navbar-link {
        text-decoration: none !important;
        text-align: center;
        color: $on-primary;
        .navbar-link-label {
          font-family: $boldfont;
          font-size: 20px;

        }
      }

    }
  }

}
