/*
1. Primary
2. Primary Variant
3. Secondary
4. Secondary Variant
5. Background
6. Surface
7. Error
8. On Primary
9. On Secondary
10. On Background
11. On Surface
12. On Error
*/
:root{
  --primary: #5d00ed ;
  --primary-dark: #0000b9 ;
  --primary-light: #9946ff;
  --secondary: #69f0ae;
  --secondary-dark: #2bbd7e;
  --secondary-light: #9fffe0;
  --background: #c7c7c7 ;
  --surface: #fafafa ;
  --error: #b00020;
  --on-primary: #ffffff;
  --on-secondary: #000000;
  --on-surface: #000000;
  --on-error:#ffffff;
}
