.navbar {
  display: flex;
  justify-content: center;
}

.navbar-surface {
  font-family: open_sanslight;
  font-weight: lighter;
  display: flex;
  gap: 5px;
  justify-content: center;
  background: var(--surface);
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.10);
  width: 100%;
}

.navbar-item {
  background-color: var(--primary);
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  padding-top: 4px;
  padding-left: 8px;
  padding-bottom: 5px;
  padding-right: 8px;
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.navbar-link {
  text-decoration: none !important;
  text-align: center;
  color: var(--on-primary);
}

.navbar-link-label {
  font-size: 20px;
  font-weight: bold;
}
