@font-face {
  font-family: "Gravity";
  src: url("../fonts/Gravity/Gravity-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gravity";
  src: url("../fonts/Gravity/Gravity-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Gravity";
  src: url("../fonts/Gravity/Gravity-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #000;
}

h1, h2, h3, a, p, span {
  font-family: Gravity, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

body {
  color: #fff;
  background: #1f162c;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 0.6rem;
}
nav .navbar-section {
  padding: 1rem 1rem;
  display: flex;
  gap: 3rem;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
}
nav #navbar-logo-section {
  justify-content: flex-start;
}
nav #navbar-logo-section a i {
  font-size: 2.5rem;
}
nav #navbar-link-section {
  gap: 1.3em;
}
nav #navbar-social-section {
  gap: 1.3rem;
}
nav #navbar-link-section, nav #navbar-logo-section {
  flex-basis: 33.3333333333%;
}
nav #navbar-contact-section, nav #navbar-social-section {
  flex-grow: 1;
}

main {
  flex-grow: 1;
}
main article {
  transition: transform 1.2s cubic-bezier(0.6, 0, 0.12, 1.01);
}
main article:not(.current) {
  height: 0;
  transform: translateX(-20000px);
}
main article:not(.current) .article-image {
  display: none;
}
main article:not(.current) .article-nav-section {
  display: none;
}
main article:not(.current) .article-description-section {
  display: none;
}
main article.current {
  height: 100%;
}
main article .article-section {
  height: 100%;
}
main article .article-description-section,
main article .article-nav-section {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
main article .article-title-section,
main article .article-description-section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
main article .article-image-section .article-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main article .article-image-section .image1 {
  background-image: url(../img/bg1.jpg);
  aspect-ratio: 16/9;
}
main article .article-title-section {
  display: flex;
  flex-direction: row;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
main article .article-title-section h2 {
  font-size: 2rem;
}
main article .article-title-section i {
  transition: all 0.3s cubic-bezier(0.76, 0.11, 0.7, 0.99);
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main article .article-title-section i:hover {
  transform: scale(1.2, 1.2);
}
main article .article-description-section {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
main article .article-description-section ul {
  font-family: Gravity;
  list-style: none;
  padding: 2% 0 2% 4%;
  line-height: 2rem;
}
main article .article-nav-section {
  padding: 0 1.4rem;
  display: flex;
  justify-content: space-between;
}
main article .article-nav-section a {
  transition: all 0.2s cubic-bezier(0.76, 0.11, 0.7, 0.99);
  cursor: pointer;
}
main article .article-nav-section a span {
  font-size: 10rem;
}
main article .article-nav-section a:first-child:hover {
  transform: translate(-10%, 0);
}
main article .article-nav-section a:last-child:hover {
  transform: translate(10%, 0);
}

@media only screen and (min-width: 576px) {
  body nav #navbar-link-section {
    gap: 60%;
  }
}
@media only screen and (min-width: 768px) {
  body nav {
    font-size: 1rem;
  }
  body nav .navbar-section {
    padding: 1em 3em;
  }
  body article .article-image-section {
    display: flex;
    justify-content: center;
  }
  body article .article-image-section .article-image {
    min-width: 50%;
  }
}
@media only screen and (min-width: 992px) {
  body .article-image {
    min-width: 66.6666666667dvw !important;
    max-height: 66.6666666667dvh;
  }
}
@media only screen and (min-width: 1200px) {
  body {
    min-height: 100%;
  }

  main {
    flex-grow: 1;
  }
  main article {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
  main article .article-description-section {
    border-top: none;
  }
  main article .image1 {
    max-width: 66.6666666667dvw;
    max-height: 66.6666666667dvh;
  }
}

/*# sourceMappingURL=main.css.map */
